.menu {
  padding:0 20px 0 0;
}

.menu-table {
  border-collapse: collapse;
  width:100%;
}

.file {
  border:1px solid #808080;
  cursor:pointer;
}

.file:hover {
  background-color: #f0f0b0;
}

.file-selected {
  background-color: #cccccc;
}

.package {
  font-family:monospace;
  border: 0px;
  position: relative;
}

.file-name {
  font-family:monospace;
  border: 0px;
}

.file-percent {
  font-family:monospace;
  display: inline;
  text-align: right;
  border: 0px;
  width: 100px;
  position: relative;
}

.linenum {
  font-family:monospace;
  white-space: pre;
  display:block;
}

.yes {
  background:#af8;
}

.no {
  background:#f77;
}

.not-code {
  background:#fff;
}

.coverage-bar {
  background:#f77;
  width:100px;
  height:14px;
  position:absolute;
  top:1px;
  left:0px;
}

.coverage-bar-inner {
  background:#af8;
  height:14px;
  position:absolute;
  top:0px;
  left:0px;
}

.details {
  position:fixed;
  background:white;
  z-index:10;
  border:1px solid black;
  border-radius:5px;
  padding:3px;
  font-family:monospace;
  width:95%;
  left:20px;
  top:20px;
}

.details-body {
  overflow-x:auto;
  overflow-y:scroll;
  height:800px;
}

.close {
 text-align:right;
 cursor:pointer;
 padding-bottom:10px;
}

.hidden {
  display: none;
}
