<polymer-element name="x-news" extends="ul">
  <template>
    <style scoped>
      div.breaking {
          color: Red;
          font-size: 20px;
          border: 1px dashed Purple;
      }
      div.other {
          padding: 2px 0 0 0;
          border: 1px solid Cyan;
      }
    </style>
    <div class="breaking">
      <h2>Breaking Stories</h2>
      <ul>
          <content select=".breaking"></content>
      </ul>
    </div>
    <div class="other">
      <h2>Other News</h2>
      <ul>
          <content></content>
      </ul>
    </div>
  </template>
  <script type="application/dart">
    import 'dart:html';
    import 'package:polymer/polymer.dart';

    class XNews extends UListElement with Polymer {
      XNews.created() : super.created() {
        polymerCreated();
      }
    }

    @initMethod
    _init() {
      Polymer.register('x-news', XNews);
    }
  </script>
</polymer-element>
