// Copyright (c) 2011, the Dart project authors.  Please see the AUTHORS file
// for details. All rights reserved. Use of this source code is governed by a
// BSD-style license that can be found in the LICENSE file.

// TODO(vsm): Should we add this to the API?  Dart doesn't support
// overloading.
// Window open(String url, String target, WindowSpec features) {
//   return open(url, target, features.toString());
// }
