name: dds
description: >-
  A library used to spawn the Dart Developer Service, used to communicate with
  a Dart VM Service instance.

version: 2.1.5

homepage: https://github.com/dart-lang/sdk/tree/master/pkg/dds

environment:
  sdk: '>=2.13.0 <3.0.0'

dependencies:
  async: ^2.4.1
  collection: ^1.15.0
  devtools_shared: ^2.3.0
  json_rpc_2: ^3.0.0
  meta: ^1.1.8
  package_config: ^2.0.0
  path: ^1.8.0
  pedantic: ^1.7.0
  shelf: ^1.0.0
  shelf_proxy: ^1.0.0
  shelf_static: ^1.0.0
  shelf_web_socket: ^1.0.0
  sse: ^4.0.0
  stream_channel: ^2.0.0
  vm_service: ^7.5.0
  web_socket_channel: ^2.0.0

dev_dependencies:
  args: ^2.0.0
  http: ^0.13.0
  test: ^1.0.0
  webdriver: ^3.0.0
