#comments {
  width: 1000px;
  margin: 0 auto 22px auto;
}

.mdn {
  border: solid 1px hsl(10, 80%, 90%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  margin: 22px 0;
  padding: 21px 21px 0 21px;
}

/* Try to massage the MDN content a bit to look nicer. This makes sure we don't
   double pad the insides of the box. */
.mdn > *:first-child {
  margin-top: 0;
}

.mdn > *:last-child {
  margin-bottom: 0;
}

.mdn .note {
  background: hsl(220, 80%, 93%);
  font: 400 14px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: hsl(220, 40%, 40%);
  border-radius: 4px;
  padding: 11px;
}

.mdn .warning {
  background: hsl(40, 80%, 90%);
  font: 400 14px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: hsl(40, 40%, 30%);
  border-radius: 4px;
  padding: 11px;
}

.mdn h6 {
  font: 600 14px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #999;
  margin: 22px 0 0 0;
}

/* End MDN massage. */

.mdn-note {
  font: 600 11px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: hsl(10, 60%, 80%);
  text-align: right;
  line-height: 21px; /* To absorb bottom border 1px. */
  margin-right: -14px;
}

.mdn-note a {
  color: hsl(10, 60%, 80%);
}

.mdn-note a:hover {
  color: hsl(10, 60%, 60%);
}

.mdn-attribution {
  background: hsl(10, 80%, 95%);
  border-radius: 4px;
  font: 400 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: hsl(10, 30%, 30%);
  padding: 22px 22px 22px 75px;
}

.mdn-logo {
  float: left;
  margin-left: -53px;
  /*padding-right: 11px;*/
}

.correspond {
  font: italic 400 14px/22px 'Open Sans', 'Lucida Sans Unicode',
      'Lucida Grande', sans-serif;
  color: #666;
}

.correspond .crossref {
  font: inherit;
}