# Source files should not be normalized to avoid confusing clang-format-diff.py
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf

# Explicitly declare text files we want to be normalized.
*.gyp text
*.gypi text
*.dart text
*.mk text
*.Makefile text
*.md text
*.yaml text

# Files that should not be converted.
tests/compiler/dart2js_extra/string_interpolation_test.dart -text
tests/compiler/dart2js_extra/string_interpolation_dynamic_test.dart -text
tests/compiler/dart2js_extra/literal_string_juxtaposition_test.dart -text
tests/language/raw_string_test.dart -text
tests/language/multiline_strings_test.dart -text
tests/language/multiline_newline_cr.dart -text
tests/language/multiline_newline_crlf.dart -text
tests/language/multiline_newline_lf.dart -text
tests/language_2/raw_string_test.dart -text
tests/language_2/multiline_strings_test.dart -text
tests/language_2/multiline_newline_cr.dart -text
tests/language_2/multiline_newline_crlf.dart -text
tests/language_2/multiline_newline_lf.dart -text
tests/lib/convert/json_pretty_test.dart -text
tests/lib_2/convert/json_pretty_test.dart -text
tests/lib/mirrors/method_mirror_source_line_ending_test.dart -text
tests/lib/mirrors/method_mirror_source_line_ending_cr.dart -text
tests/lib/mirrors/method_mirror_source_line_ending_crlf.dart -text
tests/lib/mirrors/method_mirror_source_line_ending_lf.dart -text
tests/lib/mirrors/method_mirror_source_test.dart -text
tests/lib/mirrors/method_mirror_source_other.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_test.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_cr.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_crlf.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_lf.dart -text
tests/lib_2/mirrors/method_mirror_source_test.dart -text
tests/lib_2/mirrors/method_mirror_source_other.dart -text
tests/language_strong/multiline_newline_crlf.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_test.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_cr.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_crlf.dart -text
tests/lib_2/mirrors/method_mirror_source_line_ending_lf.dart -text
tests/lib_2/mirrors/method_mirror_source_test.dart -text
tests/lib_2/mirrors/method_mirror_source_other.dart -text

# Files to leave alone and not diff.
*.png binary
*.jpg binary
*.xpi binary
