name: linter
version: 1.2.1

description: >-
  The implementation of the lint rules supported by the analyzer framework.
  This package is not intended to be used directly.
homepage: https://github.com/dart-lang/linter
repository: https://github.com/dart-lang/linter
documentation: https://dart-lang.github.io/linter/lints

environment:
  sdk: '>=2.12.0-0 <3.0.0'

dependencies:
  analyzer: ^1.1.0
  args: ^2.0.0
  charcode: ^1.2.0
  collection: ^1.15.0
  glob: ^2.0.0
  http: ^0.13.0
  meta: ^1.3.0
  path: ^1.8.0
  source_span: ^1.8.0
  yaml: ^3.0.0

dev_dependencies:
  async: any # referenced in tests
  benchmark_harness: ^2.0.0
  cli_util: ^0.3.0
  fixnum:
    path: test/mock_packages/fixnum
  github: ^8.0.1
  grinder: ^0.9.0
  markdown: ^4.0.0
  matcher: ^0.12.10
  pedantic: ^1.10.0
  pub_semver: ^2.0.0
  test: ^1.16.1
