name: dart2js_info
version: 0.5.5+1
description: >
  Libraries and tools to process data produced when running dart2js with
  --dump-info.
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/dart2js_info/

environment:
  sdk: '>=1.21.1 <2.0.0'
dependencies:
  args: '>=0.13.0 <2.0.0'
  charcode: ^1.1.0
  collection: ^1.10.1
  path: ^1.3.6
  quiver: '>=0.21.0 <0.26.0'
  shelf: '>=0.6.1+2 <0.8.0'
  shelf_static: ^0.2.4
  yaml: ^2.1.0
dev_dependencies:
  test: ^0.12.3+4
executables:
  dart2js_info_code_deps:               code_deps
  dart2js_info_coverage_log_server:     coverage_log_server
  dart2js_info_debug_info:              debug_info
  dart2js_info_diff:                    diff
  dart2js_info_deferred_library_check:  deferred_library_check
  dart2js_info_deferred_library_size:   deferred_library_size
  dart2js_info_deferred_library_layout: deferred_library_layout
  dart2js_info_function_size_analysis:  function_size_analysis
  dart2js_info_library_size_split:      library_size_split
  dart2js_info_live_code_size_analysis: live_code_size_analysis
  dart2js_info_show_inferred_types:     show_inferred_types
