name: linter
version: 0.1.116

description: >-
  The implementation of the lint rules supported by the analyzer framework.
  This package is not intended to be used directly.
homepage: https://github.com/dart-lang/linter
repository: https://github.com/dart-lang/linter
documentation: https://dart-lang.github.io/linter/lints

environment:
  sdk: '>=2.6.0 <3.0.0'

dependencies:
  analyzer: ^0.39.7
  args: '>=1.4.0 <2.0.0'
  charcode: ^1.0.0
  glob: ^1.0.3
  http: ^0.12.0
  meta: ^1.0.2
  path: ^1.2.0
  source_span: ^1.0.2
  yaml: ^2.1.2

dev_dependencies:
  async: any # referenced in tests
  benchmark_harness: ^1.0.0
  cli_util: ^0.1.2
  dart_style: ^1.3.3
  fixnum:
    path: test/mock_packages/fixnum
  github: ^6.0.5
  grinder: ^0.8.0
  markdown: ^2.0.0
  matcher: ^0.12.0
  pedantic: ^1.6.0
  pub_semver: ^1.4.2
  test: ^1.9.3
