name: linter
version: 0.1.0
author: Dart Team <misc@dartlang.org>
description: Style linter for Dart.
homepage: https://github.com/dart-lang/linter
environment:
  sdk: '>=1.8.0 <2.0.0'
dependencies:
  analyzer: ^0.25.0-dev.1
  args: '>=0.12.1 <0.14.0'
  cli_util: ^0.0.1
  glob: ^1.0.3
  plugin: ^0.1.0
  source_span: ^1.0.2
  yaml: ^2.1.2
dev_dependencies:
  markdown: ^0.7.1+2
  matcher: ^0.11.0
  mockito: ^0.8.2
  unittest: ^0.11.0
