[submodule "test/testharness"]
	path = test/testharness
	url = https://github.com/jgraham/testharness.js.git
[submodule "test/coverage/istanbul"]
	path = test/coverage/istanbul
	url = https://github.com/gotwarlost/istanbul
[submodule "test/coverage/escodegen"]
	path = test/coverage/escodegen
	url = https://github.com/Constellation/escodegen
[submodule "test/coverage/esprima"]
	path = test/coverage/esprima
	url = https://github.com/ariya/esprima
[submodule "test/browserdetect"]
	path = test/browserdetect
	url = https://github.com/web-animations/bowser.git
