Checks: -*,readability-implicit-bool-conversion,bugprone-argument-comment,misc-include-cleaner
ExcludeHeaderFilterRegex: "third_party.boringssl.src.include.openssl.err\\.h" # breaks readability-implicit-bool-conversion