# Do not continue looking up the directory hierarchy
# for more config files.
set noparent

# Do not limit function size. For example parts of
# the simulator are really large.
filter=-readability/fn_size
