# Don’t commit the following directories created by pub.
.pub
build/
packages

# Or the files created by tools.
*.dart.precompiled.js
*.js_
*.js.deps
*.sw?
.idea/
.pub/
node_modules

# Or our test output folder
test/codegen/actual/
test/dart_codegen/actual/

# Include when developing application packages.
pubspec.lock
