# Don’t commit the following directories created by pub.
.pub
build/
packages

# Or the files created by tools.
*.dart.precompiled.js
*.js_
*.js.deps
*.sw?
.idea/
.pub/
node_modules

# Or our test outputs
test/codegen/actual/
test/dart_codegen/actual/
test/generated_sdk/sdk_errors.txt

# Include when developing application packages.
pubspec.lock
