name: drop_dylib_recording
description: Generate two dylibs, remove one in linking based on recorded usage.
version: 1.0.0

publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  logging: ^1.1.1
  meta: any
  hooks:
    path: ../../../../third_party/pkg/native/pkgs/hooks/
  code_assets:
    path: ../../../../third_party/pkg/native/pkgs/code_assets/
  native_toolchain_c:
    path: ../../../../third_party/pkg/native/pkgs/native_toolchain_c/
  record_use:
    path: ../../../record_use/

dev_dependencies:
  lints: any
  test: any

dependency_overrides:
  meta:
    path: ../../../meta/
