/Makefile
/out
/xcodebuild
/*.Makefile
/*.sln
/*.target.mk
/*.vcproj
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
/*.xcodeproj
/Debug
/DebugARM
/DebugIA32
/DebugSIMARM
/DebugX64
/Release
/ReleaseARM
/ReleaseIA32
/ReleaseSIMARM
/ReleaseX64
