ol.results { text-align: left; display: none; font-size: 10px; list-style: none; display: none; }
.alldone ol.results { display: block; width: 48%; float: left; }
ol.results li { clear: both; overflow: auto; }
ol.results b { display: block; width: 200px; float: left; text-align: right; padding-right: 15px; }
#info { clear:both;width:420px;margin:0 auto;text-align:left; padding: 10px; }
div.results { width:420px;margin:0 auto;margin-bottom:20px;text-align:left; padding: 10px 10px 10px 10px; }
#info span { font-weight: bold; padding-top: 8px; }
h1 { text-align: left; }
h1 img { float:left;margin-right: 15px;margin-top: -10px; border: 0; }
h1 small { font-weight:normal; }
iframe { display: none; }
div.resultwrap { text-align: center; }
table.results { font-size: 12px; margin: 0 auto; }
table.results td, table.results th.name, table.results th { text-align: right; }
table.results .winner { color: #000; background-color: #c7331d; }
table.results .tie { color: #000; background-color: #f9f2a1; }

body  {
	font: normal 11px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: black url(images/bg.png) repeat-x;
	margin: 0px auto;
	padding: 0px; 
	color: #eee; 
	text-align: center;
	line-height: 180%;
}	
div, img, form, ul {
	margin: 0px; 
	padding: 0px;
	border: 0px; 
}
small			{font-size: 9px;}
div, span, td, .text_l {text-align: left;}	
.clear 			{clear: both;}	
.text_r 		{text-align: right;}
.text_c 		{text-align: center;}
a 				{font: normal  "Arial", sans-serif; color: #f9f2a1; }
.left 			{float: left;}
.right 			{float: right;}

#wrapper 		{width: 690px; margin: 0px auto; padding: 0px; margin-top: -7px; text-align: center;}
#content		{margin-bottom: 30px;}
#main			{padding-bottom: 40px;}

#top			{background: url(images/top.png) repeat-x; height: 250px;}
#logo			{position: absolute; top: 0; left: 0; width: 100%; text-align: center; z-index: 100;}
#logo img		{ margin: 0px auto; padding: 0px;}
.dino1			{position: absolute; top: 105px; right: 300px; z-index: 15;}
.dino2			{position: absolute; top: 110px; left: 15%;  z-index: 12;}
.dino3			{position: absolute; top: 120px; left: 400px;  z-index: 31;}
.dino4			{position: absolute; top: 96px; left: 200px;  z-index: 8;}
.dino5			{position: absolute; top: 110px; right: 85px;  z-index: 14;}
.dino6			{position: absolute; top: 105px; left: 30%;  z-index: 14;}
.dino7			{position: absolute; top: 110px; left: 70%;  z-index: 22;}
.dino8			{position: absolute; top: 105px; left: 37%;  z-index: 20;}
.coment			{position: absolute; top: 0px; right: 0px;  z-index: 2; float: right;}

.clouds			{position: absolute; top: 10px; right: 11%;  z-index: 12;}
.clouds2		{position: absolute; top: 50px; right: 29%;  z-index: 13;}
.clouds5		{position: absolute; top: 0px; right: 15%;  z-index: 16;}
.clouds3			{position: absolute; top: 15px; left: 10%;  z-index: 15;}
.clouds4		{position: absolute; top: 10px; left: 15%;  z-index: 14;}

.water		{position: absolute; top: 110px; right: 9%;  z-index: 13;}


/* rendered html stuff */

table.results	{text-align: center; margin: 0px auto; padding: 0px; background: none;}
table.results td, table.results th 			{padding: 2px;}
table.results tr.onetest td, table.results tr.onetest th 			{padding: 0px;}
table.results tr.hidden { display: none; }
#info			{margin-bottom: 10px;}
table.results .winner			{background: #58bd79;}
.name			{font-weight: bold;}

div.resultwrap	{margin: 10px 0 10px 0;}
div.results		{padding: 10px; margin-bottom: 20px; background: #c7331d;}

div.result-item { position: relative; width: 48%; float: left; overflow: hidden; margin-left: 1%; margin-right: 1%; height: 100px; }
.alldone div.result-item { width: 98%; height: auto; margin-bottom: 10px; overflow: auto; }
.alldone div.result-item p { width: 48%; float: left; }

div.result-item p { padding: 0px 4px; }

div.test { overflow: hidden; margin: 4px 0; }
div.test b { display: block; width: 100%; text-align: left; margin: 0px; background: #c7331d; padding: 4px; }
/*div.done div.test b {background: #58bd79;}*/
div.done div.test b {background: #222;}
div.bar { width: 100px; border: 1px inset #666; background: #c7331d; text-align: left; position: absolute; top: 7px; right: 4px; }
div.bar div { height: 20px; background: #222; text-align: right; }
div.done div.bar div {background: #58bd79; color: #000;}
div.bar span { padding-left: 5px; padding-right: 5px; }

#info { margin: auto; }

h1 { font-size: 28px; border-bottom: 1px solid #AAA; position: relative; padding: 0px 1% 2px 1%;}
h1 div.bar { font-size: 10px; width: 275px; top: -2px; right: 1%; }
h1 input { position: absolute; top: 0px; right: 300px; }

h2 { font-size: 20px; border-bottom: 1px solid #AAA; position: relative; padding: 0px 1% 2px 1%;}
h2 a { color: #FFF; }
h2 div.bar { font-size: 10px; width: 275px; top: -2px; right: 1%; }
h2 input { position: absolute; top: 0px; right: 300px; }

ul#tests { clear:both;width:420px;margin:0 auto;text-align:left; padding: 10px; list-style: none; }
#tests b { background: #c7331d; color: #000; display: block; padding: 4px 0 4px 4px; margin-left: -20px; margin-bottom: 5px; font-size: 1.1em; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: normal; }
#tests b.recommended { background: #58bd79; }
#tests a:first-of-type { font-size: 1.2em; }
#tests b a { font-weight: bold; color: #000; }
#tests li { padding-left: 10px; padding-bottom: 5px; }

#overview { position: relative; }
#overview a { font-size: 10px; top: -29px; left: 8px; position: absolute; }
#overview table a { position: static; }
