<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Dart</string>
	<key>uuid</key>
	<string>BB2AD6E4-D76D-41C6-B9A2-62DD2461F7F0</string>
</dict>
</plist>
