// Copyright (c) 2011, the Dart project authors.  Please see the AUTHORS file
// for details. All rights reserved. Use of this source code is governed by a
// BSD-style license that can be found in the LICENSE file.

// TODO(vsm): Should we add this to the API?  Dart doesn't support
// overloading, so we'd need to do this differently.
// void addEventListener(String type, EventListener listener) {
//   addEventListener(type, listener, false);
// }
