name: front_end
version: 0.1.0-alpha.6
author: Dart Team <misc@dartlang.org>
description: Front end for compilation of Dart code.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/front_end
environment:
  sdk: '>=1.12.0 <2.0.0-dev.infinity'
dependencies:
  charcode: '^1.1.1'
  convert: '^2.0.1'
  crypto: '^2.0.2'
  dart_style: '^1.0.7'
  kernel: 0.3.0-alpha.3
  meta: '^1.1.1'
  package_config: '^1.0.1'
  path: '^1.3.9'
  source_span: '^1.2.3'
  yaml: '^2.1.12'
dev_dependencies:
  analyzer: '>=0.30.0 <0.32.0'
  args: '>=0.13.0 <2.0.0'
  bazel_worker: ^0.1.4
  package_config: '^1.0.0'
  test: ^0.12.0
  test_reflective_loader: ^0.1.0
  json_rpc_2: ^2.0.4
  mockito: ^2.0.2
  stream_channel: ^1.6.1
  web_socket_channel: ^1.0.4
