# Currently, front_end API is not stable and users should not
# depend on semver semantics when depending on this package.
name: front_end

# This package is not intended for consumption on pub.dev. DO NOT publish.
publish_to: none

environment:
  sdk: '>=2.2.2 <3.0.0'
dependencies:
  _fe_analyzer_shared: ^2.0.0
  kernel: 0.3.29
  package_config:
    path: ../../third_party/pkg_tested/package_config/
  meta: ^1.0.2
dev_dependencies:
  analyzer: 0.39.1
  args: '>=0.13.0 <2.0.0'
  build_integration:
    path: ../build_integration
  dart_style: '^1.0.7'
  json_rpc_2: ^2.0.9
  path: '^1.3.9'
  test: ^1.3.4
  test_reflective_loader: ^0.1.0
  web_socket_channel: ^1.0.4
  yaml: '^2.1.12'
  vm_service:
    path: ../vm_service
