name: front_end
version: 0.1.0
author: Dart Team <misc@dartlang.org>
description: Front end for compilation of Dart code.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/front_end
environment:
  sdk: '>=1.12.0 <2.0.0'
dependencies:
  analyzer: '^0.29.0'
  path: '^1.3.9'
  source_span: '^1.2.3'
dev_dependencies:
  package_config: '^1.0.0'
  # TODO(sigmund): update to a version constraint once we roll the latest kernel
  # to the repo.
  kernel: {path: ../../third_party/pkg/kernel}
# TODO(sigmund): remove once kernel is moved into the sdk repo.
dependency_overrides:
  analyzer: '^0.29.0'
