# Currently, front_end API is not stable and users should not
# depend on semver semantics when depending on this package.
name: front_end

# This package is not intended for consumption on pub.dev. DO NOT publish.
publish_to: none

environment:
  sdk: '>=2.6.0 <3.0.0'

dependencies:
  _fe_analyzer_shared:
    path: ../_fe_analyzer_shared
  kernel:
    path: ../kernel
  package_config:
    path: ../../third_party/pkg_tested/package_config

dev_dependencies:
  analyzer:
    path: ../analyzer
  args: '>=0.13.0 <2.0.0'
  async_helper:
    path: ../async_helper
  build_integration:
    path: ../build_integration
  compiler:
    path: ../compiler
  dart_style: '^1.0.7'
  dev_compiler:
    path: ../dev_compiler
  expect:
    path: ../expect
  json_rpc_2: ^2.0.9
  path: '^1.3.9'
  test: ^1.3.4
  testing:
    path: ../testing
  test_reflective_loader: ^0.1.0
  vm:
    path: ../vm
  vm_service:
    path: ../vm_service
  web_socket_channel: ^1.0.4
  yaml: any
