name: front_end
version: 0.1.0-alpha.4.1
author: Dart Team <misc@dartlang.org>
description: Front end for compilation of Dart code.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/front_end
environment:
  sdk: '>=1.12.0 <2.0.0'
dependencies:
  analyzer: ^0.30.0
  kernel: 0.3.0-alpha.1.1
  path: '^1.3.9'
  source_span: '^1.2.3'
dev_dependencies:
  package_config: '^1.0.0'
  test: ^0.12.0
  test_reflective_loader: ^0.1.0
