#
# Entries in this file define how editor maps #import(...) directives
#
# A key that ends with '\:' maps an entire scheme to a directory tree
#    (All ':' characters in the key must be escaped)
# For example, an entry in this file such as
#    foo\: = /user/name/some/dir
# will map the following imports
#    #import('foo:bar')             --> /user/name/some/dir/bar/bar.dart
#    #import('foo:blat.dart')       --> /user/name/some/dir/blat.dart
#    #import('foo:buzz/blue.dart')  --> /user/name/some/dir/buzz/blue.dart
#
# A key that does not end with '\:' maps a single import to a single file
# For example, an entry in this file such as
#    green\:light = /user/name/some/dir/mylib.dart
# will map only
#    #import('green:light')         --> /user/name/some/dir/mylib.dart
#
# A specific mapping (does not end with '\:') takes precedence
# For example, given
#    foo\: = /user/name/some/dir
#    foo\:bar = /user/name/another/dir/myfile.dart
# will map
#    #import('foo:bar')             --> /user/name/another/dir/myfile.dart
#    #import('foo:blue')            --> /user/name/some/dir/blue/blue.dart
#
# Paths that are not absolute are considered to be relative to editor installation directory.
# Leading and trailing whitespace around keys and values is ignored.
# This file is read exactly once when editor is launched
#

dart\:         = .
dart\:builtin  = builtin/builtin_runtime.dart
dart\:core     = core/core_runtime.dart
dart\:coreimpl = coreimpl/coreimpl_runtime.dart
# dom/dom_frog.dart is a placeholder for dartium dom
dart\:dom_deprecated      = dom/dom_dart2js.dart
dart\:html     = html/html_dartium.dart
dart\:nativewrappers  = html/nativewrappers.dart
