# See http://luci-config.appspot.com/schemas/projects/refs:cq.cfg for the
# documentation of this file format.
version: 1
cq_name: "dart"
cq_status_url: "https://chromium-cq-status.appspot.com"
git_repo_url: "https://dart.googlesource.com/sdk.git"
gerrit { }
verifiers {
  gerrit_cq_ability {
     committer_list: "project-dart-committers"
     dry_run_access_list: "project-dart-tryjob-access"
  }
  try_job {
    buckets {
      name: "luci.dart.try"
      builders { name: "analyzer-linux-release-strong-try"}
      builders { name: "vm-linux-release-x64-try"}
      builders { name: "vm-win-release-x64-try"}
      builders { name: "vm-mac-release-x64-try"}
      builders { name: "dart2js-linux-d8-hostchecked-unittest-try"}
      builders { name: "pkg-linux-release-try"}
      builders { name: "dart2js-linux-chrome-try"}
      builders { name: "ddc-linux-release-try"}
      builders { name: "dart2js-win10-ie11-try"}
      builders { name: "vm-kernel-mac-release-x64-try"}
      builders { name: "precomp-linux-release-x64-try"}
      builders { name: "vm-linux-product-x64-try"}
    }
  }
}
