name: analyzer
version: 0.31.0-alpha.1
author: Dart Team <misc@dartlang.org>
description: Static analyzer for Dart.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/analyzer
environment:
  sdk: '>=1.20.0 <2.0.0-dev'
dependencies:
  args: '>=0.12.1 <2.0.0'
  charcode: ^1.1.0
  collection: ^1.10.1
  convert: ^2.0.0
  crypto: '>=1.1.1 <3.0.0'
  front_end: 0.1.0-alpha.6
  glob: ^1.0.3
  html: '>=0.12.0 <1.14.0'
  isolate: '>=0.2.2 <2.0.0'
  kernel: 0.3.0-alpha.3
  meta: ^1.0.2
  package_config: '>=0.1.5 <2.0.0'
  path: '>=0.9.0 <2.0.0'
  plugin: ^0.2.0
  source_span: ^1.2.0
  watcher: '>=0.9.6 <0.10.0'
  yaml: ^2.1.2
  cli_util: ^0.1.0
dev_dependencies:
  test_reflective_loader: ^0.1.0
  mockito: ^2.0.2
  test: ^0.12.0
