name: analyzer
version: 6.2.0
description: >-
  This package provides a library that performs static analysis of Dart code.
repository: https://github.com/dart-lang/sdk/tree/main/pkg/analyzer

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  _fe_analyzer_shared: ^64.0.0
  collection: ^1.17.0
  convert: ^3.0.0
  crypto: ^3.0.0
  glob: ^2.0.0
  meta: ^1.7.0
  package_config: ^2.0.0
  path: ^1.8.0
  pub_semver: ^2.0.0
  source_span: ^1.8.0
  watcher: ^1.0.0
  yaml: ^3.0.0

# We use 'any' version constraints here as we get our package versions from
# the dart-lang/sdk repo's DEPS file. Note that this is a special case; the
# best practice for packages is to specify their compatible version ranges.
# See also https://dart.dev/tools/pub/dependencies.
dev_dependencies:
  analyzer_utilities: any
  args: any
  async: any
  heap_snapshot: any
  linter: any
  lints: any
  matcher: any
  test: any
  test_reflective_loader: any
  vm_service: any

dependency_overrides:
  _fe_analyzer_shared:
    path: ../_fe_analyzer_shared
  analyzer_utilities:
    path: ../analyzer_utilities
  heap_snapshot:
    path: ../heap_snapshot
  vm_service:
    path: ../vm_service
