name: analyzer
version: 0.41.2-dev
description: This package provides a library that performs static analysis of Dart code.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/analyzer

environment:
  sdk: '>=2.9.0 <3.0.0'

dependencies:
  _fe_analyzer_shared: ^14.0.0
  args: ^1.0.0
  cli_util: '>=0.1.4 <0.3.0'
  collection: ^1.10.1
  convert: ^2.0.0
  crypto: ^2.0.0
  glob: '>=1.0.3 <3.0.0'
  meta: ^1.2.3
  package_config: ^1.0.0
  path: ^1.0.0
  pub_semver: ^1.4.2
  source_span: ^1.2.0
  watcher: ^0.9.6
  yaml: ">=2.1.2 <4.0.0"
dev_dependencies:
  analyzer_utilities:
    path: ../analyzer_utilities
  async: ^2.0.0
  linter: any
  matcher: ^0.12.3
  pedantic: ^1.9.0
  test: ^1.0.0
  test_api: ^0.2.6
  test_reflective_loader: ^0.1.8
