name: analyzer
version: 0.27.3-alpha.1
author: Dart Team <misc@dartlang.org>
description: Static analyzer for Dart.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/analyzer
environment:
  sdk: '>=1.12.0 <2.0.0'
dependencies:
  args: '>=0.12.1 <0.14.0'
  crypto: ^0.9.0
  glob: ^1.0.3
  html: ^0.12.0
  package_config: ^0.1.1
  path: '>=0.9.0 <2.0.0'
  plugin: ^0.1.0
  watcher: '>=0.9.6 <0.10.0'
  yaml: ^2.1.2
dev_dependencies:
  typed_mock: '>=0.0.4 <1.0.0'
  unittest: '>=0.9.0 <0.12.0'
