name: analyzer
version: 0.38.5
author: Dart Team <misc@dartlang.org>
description: This package provides a library that performs static analysis of Dart code.
homepage: https://github.com/dart-lang/sdk/tree/master/pkg/analyzer

environment:
  sdk: '>=2.2.2 <3.0.0'

dependencies:
  args: '>=0.12.1 <2.0.0'
  charcode: ^1.1.0
  collection: ^1.10.1
  convert: ^2.0.0
  crypto: '>=1.1.1 <3.0.0'
  front_end: 0.1.27
  glob: ^1.0.3
  html: '>=0.13.4+1 <0.15.0'
  kernel: 0.3.27
  meta: ^1.0.2
  package_config: '>=0.1.5 <2.0.0'
  path: '>=0.9.0 <2.0.0'
  pub_semver: ^1.4.2
  source_span: ^1.2.0
  watcher: '>=0.9.6 <0.10.0'
  yaml: ^2.1.2
dev_dependencies:
  analysis_tool:
    path: ../analysis_tool
  pedantic: ^1.8.0
  test: ^1.0.0
  test_reflective_loader: ^0.1.8
