Source: dart
Maintainer: Soren Gjesse <sgjesse@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9),
	python,
	openjdk-6-jdk

Package: dart
Architecture: amd64 i386 armhf armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dart SDK

