Source: dart
Maintainer: William Hesse <whesse@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), python3:native

Package: dart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dart SDK
